/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */
* {
  background-color: #f39c12;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  * {
    background-color: #d35400;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  * {
    background-color: #c0392b;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  * {
    background-color: #bdc3c7;
  }
}

@media all and (max-width: 480px) {
  * {
    background-color: #7f8c8d;
  }
}


/* Portrait */
@media screen and (orientation:portrait) {
  /* Portrait styles here */
  * {
    background-color: #2c3e50
  }
}

/* Landscape */
@media screen and (orientation:landscape) {
  /* Landscape styles here */
  * {
    background-color: #8e44ad
  }
}


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
  * {
    background-color: #2980b9
  }
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {}